.contact-name {
  font-size: 2.4rem;
  margin-top: 15px;
}
.contact-body {
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 10px;
  @include font-secondary;
  line-height: 2rem;
  letter-spacing: 1px;
  &::before {
    content: "";
    display: block;
    width: 20%;
    border-top: 1px solid #999999;
    margin-bottom: 30px;
  }

  &.contact-body-short {
    font-size: 2rem;
  }
}

/* Dialog */
.dialog-content-resend, .dialog-content-delete {
  display: none;
}
#dialog-resend .dialog-content-resend {
  display: block;
}
#dialog-delete .dialog-content-delete {
  display: block;
}